.App {

  padding: 85px 64px;

  display: flex;
   flex-direction: column;
   background-image: url('/src/assets/images/icons/mainBAckground.svg');
   background-repeat: no-repeat;
   background-size: cover;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
